$color-text: rgb(13, 13, 37);
$color-main: white;
$color-nav: #ece7e7;
$color-nav2: rgb(189, 181, 181);
$color-pink: #e4beb6;;

$nav-font: 'Roboto', sans-serif;
$section-font:'Roboto', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    color: $color-main;
}
